
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
	font-family: "Public Sans", sans-serif;
	background-color:#fef5ef;
	color: #5fa8d3;

	min-height: 100vh; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	font-size: 12vw;
	margin-bottom: 0.5rem;
}
h2{
	text-align: center;
	max-width: 25ch;
	font-size: 10vw;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
a {
	color: inherit;
	font-size: 6vw;
}
img{
	max-width: 25ch;
}